<div>
    <p class="lead">To use this service please enter your data</p>
    <form role="form">
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Enter password">
        </div>
        <span id="login_button" class="btn btn-default">Submit</span>
    </form>
</div>