<div>
    <p class="lead">To use this service please enter your data</p>
    <form role="form">
        <div class="form-group">
            <label for="name">Name*</label>
            <input type="name" class="form-control" id="name" name="name" placeholder="Enter name">
        </div>
        <div class="form-group">
            <label for="email">Email address*</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="password">Password*</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Enter password">
        </div>
        <div class="form-group">
            <label for="re-password">Repeat Password*</label>
            <input type="password" class="form-control" id="re-password" name="re-password" placeholder="Repeat password">
        </div>
        <span id="registration_button" class="btn btn-default">Submit</span>
    </form>
</div>