<table class="table table-bordered">
    <tr>
        <th>Title</th>
        <th>Restaurant</th>
        <th>Date</th>
        <th>Created by</th>
        <th>Description</th>
        <th>Users</th>
        <th>Status</th>
        <th></th>
    </tr>
</table>
